{% extends 'base.html' %}

{% block title %}{{ object.name|title }} Issues | {{ block.super }}{% endblock title %}

{% block breadcrumb %}
<ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a href="{% url 'BoardList' %}">Boards</a></li>
    <li class="breadcrumb-item active">{{ board.name }}</li>
</ol>
{% endblock breadcrumb %}


{% block content %}
<div>
    <a href="{% url 'NewIssue' board.pk %}" class="btn btn-success float-right">Add Issue</a>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Issues</th>
            <th>Posted by</th>
            <th>Replies</th>
          </tr>
    </thead>
    <tbody>
        {% for issue in object_list %}
        <tr>    
            <td><a href="{% url 'IssuePosts' pk=board.id issue_pk=issue.id %}">{{ issue.subject }}</a></td>
            <td>{{ issue.starter.username }}</td>
            <td>{{ issue.get_reply_count }}</td>
            <!-- <td>{{ issue.views }}</td>
            <td>{{ issue.last_updated }}</td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}